body {
  margin: 0;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-size: 1.2rem;
  position: relative;
}

.background-image {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bcre.jpg");
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  z-index: -10;
}

.container {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  background-color: #000725;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.external-circle {
  background: conic-gradient(#FDFEFF 0%, #FDFEFF 10%, #EF78F3 10%, #EF78F3 40%, #FDFEFF 40%, #FDFEFF 60%, #7FE4F3 60%, #7FE4F3 90%, #FDFEFF 90%, #FDFEFF 100%);
  width: 110%;
  height: 110%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.small-circle {
  background-color: #F7FFF7;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.small-circle-container {
  position: absolute;
  top: -50px;
  height: 175px;
  -moz-animation: rotate 12s infinite linear;
  -webkit-animation: rotate 12s infinite linear;
  animation: rotate 12s infinite linear;
  transform-origin: bottom;
}

@-moz-keyframes rotate {from {-moz-transform: rotate(0deg);} to {-moz-transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);} to {-webkit-transform: rotate(360deg);}}
@keyframes rotate {from {transform: rotate(30deg);} to {transform: rotate(390deg);}}

.expand {
  -moz-animation: expand 4s forwards linear;
  -webkit-animation: expand 4s forwards linear;
  animation: expand 4s forwards linear;
}

@-moz-keyframes expand {from {-moz-transform: scale(1);} to {-moz-transform: scale(1.5);}}
@-webkit-keyframes expand {from {-webkit-transform: scale(1);} to {-webkit-transform: scale(1.5);}}
@keyframes expand {from {transform: scale(1);} to {transform: scale(1.5);}}

.contract {
  -moz-animation: contract 4s forwards linear;
  -webkit-animation: contract 4s forwards linear;
  animation: contract 4s forwards linear;
}

@-moz-keyframes contract {from {-moz-transform: scale(1.5);} to {-moz-transform: scale(1);}}
@-webkit-keyframes contract {from {-webkit-transform: scale(1.5);} to {-webkit-transform: scale(1);}}
@keyframes contract {from {transform: scale(1.5);} to {transform: scale(1);}}


@media (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  .container {
    width: 160px;
    height: 160px;
  }

  .small-circle {
    width: 18px;
    height: 18px;
  }

  .small-circle-container {
    height: 115px;
    top: -35px;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 1rem;
  }

  .container {
    width: 140px;
    height: 140px;
  }

  .small-circle {
    width: 15px;
    height: 15px;
  }

  .small-circle-container {
    height: 100px;
    top: -30px;
  }
}
